@tailwind base;
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  width: 25%;
  margin: 10px;
}

.product-image {
  width: 250px;
  height: 250px;
}

.product-info {
  padding: 10px;
}